<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=za.co.absa.hyperdrive"/>
        <listEntry value="archetypeArtifactId=component-archetype_2.12"/>
        <listEntry value="archetypeVersion=4.7.0"/>
        <listEntry value="groupId=com.java.davanced.adkham.learning"/>
        <listEntry value="artifactId=demomaven"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.java.davanced.adkham.learning.demomaven"/>
        <listEntry value="outputDirectory=C:\JavaLearning\JavaAdvanced\JavaAdvancedPart 1\src\com\java\advanced"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Adham\AppData\Local\Temp\m2e-archetypeGenerator5576131047471050647"/>
</launchConfiguration>
